
/* animation h1 */

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    animation: slideTitle 1s ease-in;
    animation-timeline: scroll();
    /* animation-range-start: 100px;
    animation-range-end: 300px; */
}

@keyframes slideTitle {
    0% {
        scale: 0.9; opacity: 1;
      }
      100% {
        scale: 1; opacity: 1.1;
       
}
}




/* animation img */
.img-center {
    background-image: url("/src/assets/images/home-logo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    filter: brightness(0.5);
}




/* animation text */

.text-home {
    animation: slideTitle 1s ease-in;
    animation-timeline: view();
    font-size: 1.2rem;
}




/* animation h2 */

.h2-left {
    animation: slideTitle 1.1s ease-in-out ;

}



  .h2-right {
    animation: slideTitle 1.2s ease-in-out; 
  }


  /* animation on scroll */

   






  